<!DOCTYPE html>
<html>
  <header>
    <table>
      <tr>
        <td><a href="/main_pages/about">About</a></td>
        <td>Projects</td>
        <td>Reading</td>
        <td>Career</td>
      </tr>
    </table>
  </header>
  <head>
    <title>Home Page</title>
  </head>
    <body>
      <h1>Welcome!</h1>
    </body>
<footer>
  <p>Duncan Renfrow-Symon 913-706-8115 duncanrenfrow@gmail.com</p>
</html>
